<footer>
  <div class="footer-container">
    <div class="footer-section">
      <div class="logo-section">
            <img src="/images/logo.png" alt="">
      </div>
      <h2>Download Our App</h2>
      <a href="https://play.google.com/store" class="app-button">
        <i class="fa-brands fa-google-play"></i> Google Play
      </a>
      <a href="https://www.apple.com/app-store/" class="app-button">
        <i class="fa-brands fa-apple"></i> App Store
      </a>
    </div>

    <div class="footer-section">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="mailto:vaidyas690@gmail.com">Email</a></li>
        <li><a href="https://wa.me/918755975817" target="_blank">WhatsApp</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h2>Follow Us</h2>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 IndianWife.in | All rights reserved.</p>
  </div>
  <div class="footer-credit">
    <p><a href="/" target="_blank">Web Design & Development By adplace</a></p>
  </div>
</footer>
