<div class="nav-bar">
  <div class="nav-bar-left">
    <a href="/"><img src="/images/logo.png" alt="logo"></a>
  </div>
  <div class="nav-bar-right">
    <div class="support"><a href="/support"> <img src="/images/support2.png" alt=""></a></div>
    <div class="profile"><a href="/profile"><i class="fa-regular fa-user"></i></a></div>
    <div class="notification"><a href="/phonebook"><i class="fa-regular fa-bell"></i></a></div>
    <div class="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
</div>
<div class="menu-option">
  <div class="menu-option-top">
    <div class="menu-option-top-left">
      <img src="<%= currUser.images[0] ? currUser.images[0] : '/images/profile.jpg' %>" alt="Profile Image">
    </div>
    <div class="menu-option-top-right">
      <h5>Hi <%=currUser.fullname %> ! <br><a href="/edit-profile">Edit Profile</a></h5>
      <a class="Upgrade-Membership" href="/Upgrade-Membership">Upgrade-Membership</a>
    </div>
  </div>
  <div class="menu-option-bottom">
    <a href="/my-offers">Offers</a>
   <a href="/chats">Chats</a>
   <a href="/phonebook">PhoneBook</a>
   <a href="/plan">Plan Details</a>
   <a href="/shortlisted-profile">Shortlisted Profiles</a>
   <a href="/Kundali-Matching">Kundali Matching</a>
   <a href="/success-stories">Sucess Stories</a>
   <a href="/profile-verification">Profile Verification</a>
   <a href="/logout">Logout</a>
  </div>
</div>
<script>
  const menu = document.querySelector(".menu");
const menuOption = document.querySelector(".menu-option");

menu.addEventListener("click", () => {
    menu.classList.toggle("active");
    menuOption.classList.toggle("active");
});


</script>