<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/password-change.css">
    <link rel="icon" type="image/png" href="/images/iw5.png">
    <title>IndianWife.in</title>
</head>
<body>
    <%- include('partials/popmsg') %>
    <div class="login-container">
        <div class="desc">
            <img src="/images/bg3.png" alt="logo">
            <h1>
                Change Your <br/><span>Password!</span>.
            </h1>
            <p>Strong passwords build strong defenses <strong>—update yours </strong> today!</p>
        </div>
        <div class="login-box">
            <form action="/pass-verify" method="post">
                <div class="input-group">
                    <label for="full-name">Phone Number</label>
                    <input type="tel" id="full-name"  name="phone" placeholder="Enter your Ragistered Number" required>
                </div>
                <div class="input-group">
                    <label for="email">New Password</label>
                    <input type="text" id="email" name="password1" placeholder="Enter your Password" required>
                </div>
                <div class="input-group">
                    <label for="password"> Re-Enter Password</label>
                    <div class="password-wrapper">
                        <input type="password" id="password" name="password2" placeholder="Enter your password" required>
                        <span class="toggle-password" onclick="togglePassword()">👁</span>
                    </div>
                </div>
                <button id="pass-btn" type="submit">Change Password</button>
            </form>
        </div>
        
    </div>
    <script src="/js/password-change.js"></script>
</body>
</html>
