<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/payment-success.css" />
    <link rel="icon" type="image/png" href="/images/iw5.png" />
    <title>IndianWife.in</title>
</head>
<body style="text-align: center; font-family: Arial, sans-serif;">
    <%- include('partials/popmsg') %> <%- include('partials/nav') %>
    <div class="main">
        <h1> Oder Details</h1>
    <p>Your order was faild.</p>
    <h3>Plan: --</h3>
    <h3>Amount Paid: ₹ 0</h3>
    
    <a href="/Upgrade-Membership" download>
        <button style="padding: 10px 20px; font-size: 16px;">Try Again!</button>
    </a>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
