.chat-container {
  width: 100vw;
  margin-top: 5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  max-height: 500px;
}
a{
  text-decoration: none;
  color: black;
}
.chat-user {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.chat-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chat-details {
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
  font-size: 14px;
}

.chat-message {
  font-size: 12px;
  color: gray;
}

.online-status {
  color: green;
  font-size: 12px;
}

.offline-status {
  font-size: 12px;
  color: gray;
}